@page
@model WebApplication3.Pages.AccountModel
@{
    ViewData["Title"] = "Account";
    var userDetails = await UserManager.GetUserAsync(User);

    var dataProtectionProvider = DataProtectionProvider.Create("EncryptData");
    var protector = dataProtectionProvider.CreateProtector("MySecretKey");

    var sessionItem = context.HttpContext.Session;
    var credCardDetails = "";
    var aboutMe = "";
    var sessSecurityStamp = "";

    // Checks if session Security Stamp matches, if not logout and clear session
    if (context.HttpContext.Features.Get<ISessionFeature>()?.Session != null)
    {
        sessSecurityStamp = sessionItem.GetString("SecurityStamp");
        if (sessSecurityStamp != userDetails.SecurityStamp)
        {
            await SignInManager.SignOutAsync();
            sessionItem.Clear();
            RedirectToPage("/Login");
        }

        var creditCardNo = sessionItem.GetString("CreditCardNo");
        if (creditCardNo != null)
        {
            credCardDetails = protector.Unprotect(creditCardNo);

        https://learn.microsoft.com/en-us/dotnet/api/system.web.httputility.htmlencode?view=net-8.0
            StringWriter myWriter = new StringWriter();
            aboutMe = HttpUtility.HtmlDecode(sessionItem.GetString("AboutMe"));
        }

    }


    

    IActionResult ReturnToLogin()
    {
        return RedirectToPage("Login");
    }
}

@using Microsoft.AspNetCore.Identity
@using WebApplication3.ViewModels
@using Microsoft.AspNetCore.DataProtection;
@using Microsoft.AspNetCore.Http.Features;
@using System.Web;
@inject SignInManager<User> SignInManager;
@inject UserManager<User> UserManager;
@inject IHttpContextAccessor context;

<div class="text-center">
    <h1>Account Details</h1>
    <p>@sessSecurityStamp</p>
    <h2>Full Name</h2>
    <p>@sessionItem.GetString("FullName")</p>

    <h2>About Me</h2>
    <p>@aboutMe</p>

    <h2>Email</h2>
    <p>@sessionItem.GetString("Email")</p>

    <h2>Phone Number</h2>
    <p>@sessionItem.GetInt32("PhoneNumber")</p>

    <h2>Gender</h2>
    <p>@sessionItem.GetString("Gender")</p>

    <h2>Delivery Address</h2>
    <p>@sessionItem.GetString("DeliveryAddress")</p>

    <h2>Credit Card Info</h2>
    <p>@credCardDetails</p>

</div>
